requests~=2.25.1
lxml~=4.6.2
python-dateutil~=2.8.1
msm~=0.8.8
PyYAML~=5.3.1
six~=1.15.0
colorama~=0.4.4
cffi~=1.14.5
PyQt5~=5.15.3
PySide2~=5.15.2
Pillow~=8.1.0
numpy~=1.20.1
html5lib~=1.1
gitdb~=4.0.5
PyJWT~=1.7.1
cryptography~=3.4.6
PyGithub~=1.54.1
msk~=0.3.16
fasteners~=0.16
lazy~=1.4
pako~=0.3.0
toml~=0.10.2
pip~=20.3.1
pyxdg~=0.26
urllib3~=1.26.3
appdirs~=1.4.4
smmap~=3.0.5
setuptools~=53.1.0
Deprecated~=1.2.11
psutil~=5.8.0
packaging~=20.9
Pygments~=2.8.0
chardet~=3.0.4
decorator~=4.4.2
pycurl~=7.43.0.6
wcwidth~=0.2.5
idna~=2.10
docopt~=0.6.2
pyparsing~=2.4.7
ply~=3.11
pycparser~=2.20
wrapt~=1.12.1
inflection~=0.5.1
pyee~=8.1.0
websocket~=0.2.1
fann2~=1.1.2
xxhash~=2.0.0
padatious~=0.4.8
padaos~=0.1.10
PyAudio~=0.2.11